**
.local/bin/dw
!.gitignore
!.tmux.conf
!.tmux.conf.local
!.conf
!.doom.d
!.local/
!.local/bin
!.local/bin/*
!.conf/
!.conf/*
!.scripts
!.scripts/*
!.vim
!.xmonad
!.bashrc
!.imwheelrc
!.pam_environment
!.rtorrent.rc
!.vimrc
!README.md
!.config/
!.config/broot/
!.config/dunst/
!.config/ranger/
!.config/fish/
!.config/kak/
!.config/lutris/
!.config/mpv/
!.config/neofetch/
!.config/nitrogen/
!.config/nvim/
!.config/omf/
!.config/picom/
!.config/polybar/
!.config/qutebrowser/
!.config/Rambox/
!.config/rofi/
!.config/Thunar/
!.config/transmission/
!.config/xmobar/
!.config/awesome/
!.config/awesome/**
!.config/broot/**
!.config/dunst/**
!.config/ranger/**
!.config/fish/**
!.config/kak/**
!.config/lutris/**
!.config/mpv/**
!.config/neofetch/**
!.config/nitrogen/**
!.config/nvim/**
!.config/omf/**
!.config/picom/**
!.config/polybar/**
!.config/qutebrowser/**
!.config/Rambox/**
!.config/rofi/**
!.config/Thunar/**
!.config/transmission/**
!.config/xmobar/**
!.config/alacritty.yml
!.config/mpd/**
!.config/mpd
!.config/mpDris2/**
!.config/mpDris2
!.config/ncmpcpp/**
!.config/ncmpcpp
.local/bin/autopep8
.local/bin/dmypy
.local/bin/epylint
.local/bin/flake8
.local/bin/get_objgraph
.local/bin/isort
.local/bin/isort-identify-imports
.local/bin/mypy
.local/bin/mypyc
.local/bin/pycodestyle
.local/bin/pydocstyle
.local/bin/pyflakes
.local/bin/pylint
.local/bin/pylint-config
.local/bin/pylsp
.local/bin/pyreverse
.local/bin/stubgen
.local/bin/stubtest
.local/bin/symilar
.local/bin/undill
.local/bin/yapf
.local/bin/yapf-diff
.config/awesome/.project
.config/awesome/.idea
.php-cs-fixer.cache
.config/nvim/plugin/packer_compiled.lua
.config/mpd/mpd.state
.local/bin/rustling
