.cache
.cargo
.codestream
.gnupg
.icons
.local/*
!.local/bin
.npm
.nvm
.pki
.ssh
.ViberPC
.vscode-oss
Documents
Downloads
GitRepo
Pictures
Postman
test
Windows
.bash_history
.bash_logout
.bash_profile
.fehbg
.gitconfig
.gtkrc-2.0
.lesshst
.mysql_history
.node_repl_history
.rangerdir
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
0
test.html
.config/*
!.config/awesome
!.config/broot
!.config/dunst
!.config/fish
!.config/kak
!.config/lutris
!.config/mpv
!.config/neofetch
!.config/nitrogen
!.config/nvim
!.config/omf
!.config/picom
!.config/polybar
!.config/qutebrowser
!.config/Rambox
!.config/rofi
!.config/Thunar
!.config/transmission
!.config/xmobar
!alacritty.yml