*
!.conf
!.doom.d
!.local/bin
!.scripts
!.vim
!.xmonad
!.bashrc
!.imwheelrc
!.pam_environment
!.rtorrent.rc
!.vimrc
!README.md
!.config/awesome
!.config/broot
!.config/dunst
!.config/ranger
!.config/fish
!.config/kak
!.config/lutris
!.config/mpv
!.config/neofetch
!.config/nitrogen
!.config/nvim
!.config/omf
!.config/picom
!.config/polybar
!.config/qutebrowser
!.config/Rambox
!.config/rofi
!.config/Thunar
!.config/transmission
!.config/xmobar
!.config/alacritty.yml
